{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static '/css/bootstrap.rtl.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/meanmenu.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/font-awesome-pro.css' %}">
  <link rel="stylesheet" href="{% static '/css/scrollcue.css' %}">
  <link rel="stylesheet" href="{% static '/css/magnific-popup.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
  <link rel="icon" type="image/png" href="{% static '/images/favicon.png' %}">
  <title>ShopFlow | فروشگاه آنلاین</title>
</head>

<body>
  <div class="preloader">
    <div class="content">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
  <div class="header-area bg-black">
    <div class="container mw-1680">
      <div class="header-wrapper">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="header-left-content text-center text-md-start">
              <p>به فروشگاه آنلاین ShopFlow خوش آمدید</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <ul
              class="ps-0 mb-0 list-unstyled d-flex justify-content-center justify-content-md-end header-right-content gap-1 gap-sm-4 flex-wrap">
              <li><a href="mailto:information@stir.com">information@stir.com</a></li>
              <li><a href="tel:+52883256953129">+5288 32569 53129</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-area bg-black">
    <div class="main-nav">
      <div class="container mw-1680">
        <nav class="navbar navbar-expand-md navbar-light"><a class="navbar-brand" href="{% url 'home' %}"><img
              src="{% static '/images/white-logo.svg' %}" alt="logo"></a>
          <div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle active">صفحه اصلی</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="index.html" class="nav-link active">خانه</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">صفحات</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">درباره ما</a></li>
                  <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link">سوالات متداول</a></li>
                  <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle">احراز هویت</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item"><a href="{% url 'sign_in' %}" class="nav-link">ورود</a></li>
                      <li class="nav-item"><a href="{% url 'sign_up' %}" class="nav-link">ثبت نام</a></li>
                    </ul>
                  </li>
                  </li>
                  <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">تماس با ما</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <ul class="dropdown-menu">
                </ul>
              </li>
              <li class="nav-item">
                <ul class="dropdown-menu">

                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">خرید کنید</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'products' %}" class="nav-link">محصولات</a></li>
                  <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link">سبد خرید</a></li>
                  <li class="nav-item"><a href="{% url 'checkout' %}" class="nav-link">تسویه حساب</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">وبلاگ</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">وبلاگ</a></li>
                  <li class="nav-item"><a href="{% url 'blog_detail' %}" class="nav-link">صفحه وبلاگ واحد</a></li>
                </ul>
              </li>
            </ul>
            <div class="nav-right-options d-flex align-items-center">
             
              <ul class="social-link ps-0 mb-0 list-unstyled">
                <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="mobile-nav">
      <div class="container">
        <div class="mobile-menu">
          <div class="logo"><a href="index.html"><img src="{% static '/images/white-logo.svg' %}" alt="logo"></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-area bg-black bg-img" data-background="{% static '/images/banner-bg-shape.png' %}">
    <div class="container mw-1680">
      <div class="position-relative z-1" data-cues="slideInUp" data-group="images">
        <div class="banner-content">
          <h1 class="mb-0">خریدی <span>آسان و مطمَن!</span>
          </h1>
          <h1 class="mb-0">محصولات با کیفیت را از ShopFlow تهیه کنید</h1>
          <h1>با <span>بهترین قیمت</span>
          </h1>
          <a href="{% url 'service' %}" class="banner-btn"><span>خدمات ما را کاوش کنید<i
                class="fa-solid fa-arrow-up-right"></i></span></a>
        </div>
        <div class="creative-agency">
          <div class="position-relative d-block text-center m-auto video-img">
            <img src="{% static '/images/video-img.jpg' %}" class="rounded-pill" alt="video-img"><a
              href="https://youtu.be/bk7McNUjWgw?si=m_dHkilr3ALPzNl9"
              class="popup-youtube video-btns position-absolute top-50 start-50 translate-middle text-decoration-none video-btn-animate"><i
                class="fa-sharp fa-solid fa-play fa-fw"></i></a>
          </div>
          <p>سلام 👋. به ShopFlow خوش آمدید
            فروشگاهی آنلاین برای خرید آسان، سریع و مظمًن انواع محصولات
        </div>
        <a href="#about-us" class="scroll-btn"><i class="fa-sharp fa-light fa-arrow-down"></i></a>
      </div>
    </div>
    <img src="{% static '/images/shape-1.png' %}" class="shape shape-1" alt="shape"><img
      src="{% static '/images/shape-5.png' %}" class="shape shape-5" alt="shape">
  </div>
  <div class="brands-area pt-100">
    <div class="container">
      <div class="brands-title"><span data-cues="slideInUp">ما با بزرگترین برندهای جهانی کار کردیم</span></div>
      <div class="d-flex justify-content-center justify-content-lg-between flex-wrap gap-2" data-cues="slideInUp">
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-1.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-2.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-3.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-4.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-5.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-6.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-7.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-8.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-9.png' %}"
              alt="brands"></a></div>
        <div class="brands-item"><a href="{% url 'about' %}"><img src="{% static '/images/brands-10.png' %}"
              alt="brands"></a></div>
      </div>
    </div>
  </div>
  <div class="about-us-area ptb-100" id="about-us">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-us-img" data-cues="slideInUp"><img src="{% static '/images/about-us.png' %}" alt="about-us">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-us-content" data-cues="slideInUp">
            <span class="top-title">درباره ما</span>
            <h2>ShopFlow تجربه ای ساده و مطمن برای خرید آنلاین</h2>
            <p>ShopFlow یک فروشگاه آنلاین است که تلاش می کند تحربه ای ساده و سریع برای خرید محصولات مختلف در اختیار
              کاربران قرار دهد.</p>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <ul class="ps-0 list-unstyled about-list">
                  <li>محصولات متنوع و باکیفیت</li>
                  <li>خرید سریع و آسان</li>
                  <li>نمایش کامل اطلاعات محصولات</li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-6">
                <ul class="ps-0 list-unstyled about-list">
                  <li>قیمت مناسب</li>
                  <li>ثبت سفارش آنلاین</li>
                  <li>پشتیبانی و ارتباط با مشتری</li>
                </ul>
              </div>
            </div>
            <div class="d-inline-block"><a href="{% url 'about' %}"
                class="circle-btn d-inline-block text-decoration-none d-flex align-items-center"><span>بیشتر
                  بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services-area bg-color-030303 ptb-100">
    <div class="container">
      <div class="section-title white-title" data-cues="slideInUp">
        <span class="top-title">چرا ShopFlow?</span>
        <h2>همه جیز برای یک خرید آسان و مطمن</h2>
      </div>
      <div class="row justify-content-center" data-cues="slideInUp">
        <div class="col-xl-3 col-sm-6">
          <div class="services-single-item">
            <div class="icon"><img src="{% static '/images/services-icon-1.svg' %}" alt="services-icon"></div>
            <h3><a href="{% url 'services_detail' %}">تنوع محصولات</a></h3>
            <p>محصولات مختلف را در یک فروشگاه پیدا کنید.</p>
            <ul class="ps-0 mb-0 list-unstyled">
              <li>محصولات متنوع</li>
              <li>اطلاعات کامل محصولات</li>
              <li>انتخاب آسان</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="services-single-item">
            <div class="icon"><img src="{% static '/images/services-icon-2.svg' %}" alt="services-icon"></div>
            <h3><a href="{% url 'services_detail' %}">قیمت مناسب</a></h3>
            <p>ما تلاش می کنیم محصولات را با قیمت مناسب معرفی کنیم..</p>
            <ul class="ps-0 mb-0 list-unstyled">
              <li>قیمت شفاف</li>
              <li>تخفیف محصولات</li>
              <li>نمایش قیمت نهایی</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="services-single-item">
            <div class="icon"><img src="{% static '/images/services-icon-3.svg' %}" alt="services-icon"></div>
            <h3><a href="{% url 'services_detail' %}">خرید آسان </a></h3>
            <p>فرایند انتخاب و ثبت سفارش ساده و سریع طراحی شده است..</p>
            <ul class="ps-0 mb-0 list-unstyled">
              <li>سبد خرید</li>
              <li>ثبت سفارش سریع</li>
              <li>مدیریت سفارش ها</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="services-single-item">
            <div class="icon"><img src="{% static '/images/services-icon-4.svg' %}" alt="services-icon"></div>
            <h3><a href="{% url 'services_detail' %}">خدمات مشتریان</a></h3>
            <p>ارتباط با مشتریان و پیگیری درخواست ها برای ما اهمیت دارد..</p>
            <ul class="ps-0 mb-0 list-unstyled">
              <li>ارتباط با ما </li>
              <li>ثبت پیام</li>
              <li>پشتیبانی مشتری</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <div class="text-center services-btn d-inline-block m-auto mt-lg-4"><a href="{% url 'products' %}"
              class="circle-btn text-decoration-none d-flex align-items-center justify-content-center"><span>مشاهده
                محصولات</span><i class="fa-solid fa-arrow-up-right"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="who-we-are-area ptb-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="who-we-are-content" data-cues="slideInUp">
            <span class="top-title">ما کی هستیم</span>
            <h2>ShopFlow همراه شما در یک خرید بهتر</h2>
            <p>ShopFlow یک فروشگاه آنلاین است که با هدف ساده تر کردن فرآیند خرید اینترنتی ایجاد شده است. ما تلاش می کنیم
              محصولات متنوع، اطلاعات کامل و تجربه ای آیان برای خرید در اختیار مشتریان قرار دهیم.</p>
            <div class="all-skill-bar">
              <div class="skill-bar" data-percentage="75%">
                <h4 class="progress-title-holder">
                  <span class="progress-title">تنوع محصولات </span><span class="progress-number-wrapper"><span
                      class="progress-number-mark"><span class="percent"></span><span
                        class="down-arrow"></span></span></span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content"></div>
                </div>
              </div>
              <div class="skill-bar" data-percentage="85%">
                <h4 class="progress-title-holder clearfix">
                  <span class="progress-title">تجربه خرید آسان</span><span class="progress-number-wrapper"><span
                      class="progress-number-mark"><span class="percent"></span><span
                        class="down-arrow"></span></span></span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content"></div>
                </div>
              </div>
              <div class="skill-bar" data-percentage="95%">
                <h4 class="progress-title-holder clearfix">
                  <span class="progress-title">رضایت مشتریان</span><span class="progress-number-wrapper"><span
                      class="progress-number-mark"><span class="percent"></span><span
                        class="down-arrow"></span></span></span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content"></div>
                </div>
              </div>
            </div>
            <div class="d-inline-block"><a href="{% url 'about' %}"
                class="circle-btn d-inline-block text-decoration-none mt-4 mt-xl-5 d-flex align-items-center"><span>بیشتر
                  بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="who-we-are-img" data-cues="slideInUp"><img src="{% static '/images/who-we-are-img.png' %}"
              alt="who-we-are-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial-area pb-100">
    <div class="container">
      <div class="testimonial-slide owl-carousel owl-theme">
        <div class="d-md-flex align-items-center testimonial-single-item">
          <div class="flex-shrink-0"><img src="{% static '/images/testimonial-1.jpg' %}" class="testimonial-img"
              alt="testimonial"></div>
          <div class="flex-grow-1 ms-md-4 mt-3 mt-md-0">
            <p>ما که با چشم‌اندازی برای تعریف مجدد هنر داستان‌سرایی و طراحی تأسیس شده‌ایم، از زمان آغاز به کار خود در
              ارائه راه‌حل‌های خلاقانه پیشگامانه در خط مقدم بوده‌ایم. آژانس ما یک نیروگاه پویا از استعدادها است.</p>
            <h4>مارک فیلیپس /<span>طراح محصول</span>
            </h4>
          </div>
          <img src="{% static '/images/quat.svg' %}" class="quat" alt="quat">
        </div>
        <div class="d-md-flex align-items-center testimonial-single-item">
          <div class="flex-shrink-0"><img src="{% static '/images/testimonial-2.jpg' %}" class="testimonial-img"
              alt="testimonial"></div>
          <div class="flex-grow-1 ms-md-4 mt-3 mt-md-0">
            <p>با ایجاد چشم‌اندازی برای بازتعریف هنر داستان‌سرایی و طراحی، ما از همان ابتدا در خط مقدم ارائه راه‌حل‌های
              خلاقانه پیشگام بوده‌ایم. آژانس ما استعداد نیروگاه پویا است.</p>
            <h4>الکس فیلیپس /<span>فروش محصول</span>
            </h4>
          </div>
          <img src="{% static '/images/quat.svg' %}" class="quat" alt="quat">
        </div>
      </div>
    </div>
  </div>

  </div>
  <div class="faq-area pb-100">
    <div class="container">
      <div class="section-title text-start ms-0" data-cues="slideInUp">
        <span class="top-title">سوالات متداول</span>
        <h2>پاسخ سوالات شما درباره خرید از ShopFlow</h2>
      </div>
      <div class="faq-img" data-cues="slideInUp"><img src="{% static '/images/faq-img.jpg' %}" alt="faq-img"></div>
      <div class="accordion accordion-content" id="accordionExample" data-cues="slideInUp">
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span
                class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">01</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>چطور می توانم از ShopFlow
                    خرید کنم؟</span></span></span></button></h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>محصول مورد نظر را انتخاب کنید، آن را به سبد خرید اضافه کنید و پس از برسی سبد، مراحل ثبت سفارش و پرداخت
                را انحام دهید.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">02</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>چطور می توانم وضیعیت
                    سقارش خود را ببینم؟</span></span></span></button></h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>پس از ثبت سفارش می توانید از بخش «سفارش های من» اطلاعات و وضیعیت سفارش های خود را مشاهده کنیم.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">03</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>آیا میتوانم محصولی را از
                    سبد خرید حذف کنم؟</span></span></span></button></h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>بله، در صفحه سبد خرید می توانید تعداد محصولات را تغییر دهید یا محصول مورد نظر را حذف کنیم؟</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
              aria-controls="collapseFour"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">04</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>آیا اطلاعات محصولات قبل
                    از خرید نمایش داده می شود؟</span></span></span></button></h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>بله، در صفحه جزئیات محصول می توانید اطلاعات، مشخصات و نظرات ثبت شده درباره محصول را مشاهده کنید.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
              aria-controls="collapseFive"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">05</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>اگر هنگام خرید مشکلی
                    داشتم جه کار کنم؟</span></span></span></button></h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>می توانید از طریق صفحه تماس با ما مشکل یا درخواست خود را برای پشتیبانی ShopFlow ارسال کنید.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-us-area bg-color-030303 ptb-100">
    <div class="container">
      <div class="section-title white-title" data-cues="slideInUp">
        <span class="top-title">تماس با ما</span>
        <h2>سوالی دارید؟ با ما در تماس باشید!</h2>
      </div>
      <form class="appointment-form" method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        <div class="row" data-cues="slideInUp">
          <div class="col-lg-6">
            <div class="form-group"><input type="text" name="name" class="form-control" placeholder="اسم شما *"></div>
          </div>
          <div class="col-lg-6">
            <div class="form-group"><input type="email" name="email" class="form-control" placeholder="ایمیل شما *">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group"><input type="text" name="subject" class="form-control"
                placeholder="آنچه شما علاقه دارید *"></div>
          </div>

          <div class="col-lg-12">
            <div class="form-group"><textarea cols="30" rows="5" class="form-control" name="message"
                placeholder="پیام *"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="services-btn d-inline-block"><button type="submit"
                class="circle-btn text-decoration-none d-flex align-items-center bg-transparent"><span>پیام
                  فرستادن</span><i class="fa-solid fa-arrow-up-right"></i></button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-area pt-100 pb-75">
    <div class="container">
      <div class="row" data-cues="slideInUp">
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item">
            <a href="index.html" class="logo"><img src="{% static '/images/logo.svg' %}" alt="logo"></a>
            <p>در ShopFlow تلاش می کنیم تجربه ای ساده و سریع برای خرید آنلاین فراهم کنیم.</p>
            <ul class="social-link ps-0 mb-0 list-unstyled">
              <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item ms-lg-5">
            <h3>لینک های مفید</h3>
            <ul class="useful-link">
              <li><a href="{% url 'about' %}">درباره ما</a></li>
              <li><a href="{% url 'products' %}">محصولات</a></li>
              <li><a href="{% url 'cart' %}">سبد خرید</a></li>
              <li><a href="{% url 'faq' %}">سوالات متداول</a></li>
              <li><a href="{% url 'contact' %}">تماس با ما</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item">
            <h3>مشترک ما شوید</h3>
            <p>برای به روز رسانی های بعدی در خبرنامه ما مشترک شوید. نگران نباشید ما آدرس ایمیل شما را اسپم نمی کنیم</p>
            <form class="position-relative z-1">
              <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید"><button type="submit"
                class="p-0 bg-transparent border-0 send-btn position-absolute top-50 end-0 translate-middle-y"><i
                  class="fa-light fa-paper-plane-top"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="copy-right">کپی رایت،<span>برای <a href="https://mellatweb.com"> ملت وب </a></span>تمامی حقوق محفوظ است
    </p>
  </div>
  <div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/jquery.meanmenu.js' %}"></script>
  <script src="{% static '/js/owl.carousel.min.js' %}"></script>
  <script src="{% static '/js/scrollcue.js' %}"></script>
  <script src="{% static '/js/magnific-popup.min.js' %}"></script>
  <script src="{% static '/js/counterup.min.js' %}"></script>
  <script src="{% static '/js/waypoints.min.js' %}"></script>
  <script src="{% static '/js/mixitup.min.js' %}"></script>
  <script src="{% static '/js/smoothscroll.min.js' %}"></script>
  <script src="{% static '/js/custom.js' %}"></script>
</body>

</html>