{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static '/css/bootstrap.rtl.min.css' %}">
<link rel="stylesheet" href="{% static '/css/meanmenu.css' %}">
<link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static '/css/icofont.min.css' %}">
<link rel="stylesheet" href="{% static '/css/font-awesome-pro.css' %}">
<link rel="stylesheet" href="{% static '/css/scrollcue.css' %}">
<link rel="stylesheet" href="{% static '/css/magnific-popup.min.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
<link rel="icon" type="image/png" href="{% static '/images/favicon.png' %}">
<title>Stir - قالب HTML آژانس چند منظوره</title>
</head>
<body>
<div class="preloader"><div class="content">
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
</div></div>
<div class="header-area bg-black"><div class="container mw-1680"><div class="header-wrapper"><div class="row align-items-center">
<div class="col-lg-6 col-md-6"><div class="header-left-content text-center text-md-start"><p>به آژانس خلاق حرفه ای خوش آمدید</p></div></div>
<div class="col-lg-6 col-md-6"><ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center justify-content-md-end header-right-content gap-1 gap-sm-4 flex-wrap">
<li><a href="mailto:information@stir.com">information@stir.com</a></li>
<li><a href="tel:+52883256953129">+5288 32569 53129</a></li>
</ul></div>
</div></div></div></div>
<div class="navbar-area bg-black">
<div class="main-nav"><div class="container mw-1680"><nav class="navbar navbar-expand-md navbar-light"><a class="navbar-brand" href="index.html"><img src="{% static '/images/white-logo.scg' %}" alt="logo"></a><div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
<ul class="navbar-nav me-auto">
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">صفحه اصلی</a><ul class="dropdown-menu">
<li class="nav-item"><a href="index.html" class="nav-link active">آژانس خلاق</a></li>
<li class="nav-item"><a href="index-2.html" class="nav-link">آژانس بازرگانی</a></li>
<li class="nav-item"><a href="index-3.html" class="nav-link">آژانس دیجیتال</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">صفحات</a><ul class="dropdown-menu">
<li class="nav-item"><a href="about-us.html" class="nav-link">درباره ما</a></li>
<li class="nav-item"><a href="team.html" class="nav-link">تیم</a></li>
<li class="nav-item"><a href="faq.html" class="nav-link">سوالات متداول</a></li>
<li class="nav-item"><a href="testimonials.html" class="nav-link">گواهینامه ها</a></li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">احراز هویت</a><ul class="dropdown-menu">
<li class="nav-item"><a href="sign-in.html" class="nav-link">ورود</a></li>
<li class="nav-item"><a href="sign-up.html" class="nav-link">ثبت نام</a></li>
</ul>
</li>
<li class="nav-item"><a href="privacy-policy.html" class="nav-link">سیاست حفظ حریم خصوصی</a></li>
<li class="nav-item"><a href="terms-conditions.html" class="nav-link">شرایط و ضوابط</a></li>
<li class="nav-item"><a href="404.html" class="nav-link">خطا</a></li>
<li class="nav-item"><a href="contact-us.html" class="nav-link">با ما تماس بگیرید</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">خدمات</a><ul class="dropdown-menu">
<li class="nav-item"><a href="services.html" class="nav-link">خدمات</a></li>
<li class="nav-item"><a href="service-details.html" class="nav-link">جزئیات خدمات</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">مطالعه موردی</a><ul class="dropdown-menu">
<li class="nav-item"><a href="case-study.html" class="nav-link">مطالعه موردی</a></li>
<li class="nav-item"><a href="cases-study-details.html" class="nav-link">جزئیات مطالعه موردی</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">خرید کنید</a><ul class="dropdown-menu">
<li class="nav-item"><a href="products.html" class="nav-link">محصولات</a></li>
<li class="nav-item"><a href="cart.html" class="nav-link">سبد خرید</a></li>
<li class="nav-item"><a href="checkout.html" class="nav-link">وارسی</a></li>
<li class="nav-item"><a href="product-details.html" class="nav-link">جزئیات محصول</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">وبلاگ</a><ul class="dropdown-menu">
<li class="nav-item"><a href="blog.html" class="nav-link">وبلاگ</a></li>
<li class="nav-item"><a href="single-blog.html" class="nav-link">صفحه وبلاگ واحد</a></li>
</ul>
</li>
</ul>
<div class="nav-right-options d-flex align-items-center">
<div class="language position-relative z-1">
<select class="form-select" aria-label="Default select example"><option selected>زبان</option>
<option value="1">انگلیسی</option>
<option value="2">عربی</option>
<option value="3">چین</option></select><i class="fa-light fa-globe"></i>
</div>
<ul class="social-link ps-0 mb-0 list-unstyled">
<li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
</ul>
</div>
</div></nav></div></div>
<div class="mobile-nav"><div class="container"><div class="mobile-menu"><div class="logo"><a href="index.html"><img src="{% static '/images/white-logo.scg' %}" alt="logo"></a></div></div></div></div>
</div>
<div class="banner-area bg-black bg-img" data-background="./assets/images/banner-bg-shape.png' %}">
<div class="container mw-1680"><div class="position-relative z-1" data-cues="slideInUp" data-group="images">
<div class="banner-content">
<h1 class="mb-0">سلام<span>جهان وطن!</span>
</h1>
<h1 class="mb-0">ما یک آژانس خلاق مدرن هستیم</h1>
<h1>بر اساس<span>کانادا</span>
</h1>
<a href="services.html" class="banner-btn"><span>خدمات ما را کاوش کنید<i class="fa-solid fa-arrow-up-right"></i></span></a>
</div>
<div class="creative-agency">
<div class="position-relative d-block text-center m-auto video-img">
<img src="{% static '/images/video-img.jpg' %}" class="rounded-pill" alt="video-img"><a href="https://youtu.be/bk7McNUjWgw?si=m_dHkilr3ALPzNl9" class="popup-youtube video-btns position-absolute top-50 start-50 translate-middle text-decoration-none video-btn-animate"><i class="fa-sharp fa-solid fa-play fa-fw"></i></a>
</div>
<p>سلام 👋. ما Stir یک آژانس خلاق مبتنی بر نام تجاری هستیم که اصالت را به هر کاری که انجام می دهیم القا می کند.</p>
</div>
<a href="#about-us" class="scroll-btn"><i class="fa-sharp fa-light fa-arrow-down"></i></a>
</div></div>
<img src="{% static '/images/shape-1.png' %}" class="shape shape-1" alt="shape"><img src="{% static '/images/shape-5.png' %}"" class="shape shape-5" alt="shape">
</div>
<div class="brands-area pt-100"><div class="container">
<div class="brands-title"><span data-cues="slideInUp">ما با بزرگترین برندهای جهانی کار کردیم</span></div>
<div class="d-flex justify-content-center justify-content-lg-between flex-wrap gap-2" data-cues="slideInUp">
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-1.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-2.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-3.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-4.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-5.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-6.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-7.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-8.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-9.png' %}" alt="brands"></a></div>
<div class="brands-item"><a href="about-us.html"><img src="{% static '/images/brands-10.png' %}" alt="brands"></a></div>
</div>
</div></div>
<div class="about-us-area ptb-100" id="about-us"><div class="container"><div class="row align-items-center">
<div class="col-lg-6"><div class="about-us-img" data-cues="slideInUp"><img src="{% static '/images/about-us.png' %}" alt="about-us"></div></div>
<div class="col-lg-6"><div class="about-us-content" data-cues="slideInUp">
<span class="top-title">درباره ما</span><h2>آژانس طراحی حرفه ای برای ارائه راه حل</h2>
<p>ما که با چشم‌اندازی برای تعریف مجدد هنر داستان‌سرایی و طراحی تأسیس شده‌ایم، از زمان آغاز به کار خود در ارائه راه‌حل‌های خلاقانه پیشگامانه در خط مقدم بوده‌ایم. آژانس ما یک نیروگاه پویا از استعدادها است که استعداد هنری را با زیرکی استراتژیک ادغام می کند تا دیدگاه ها را زنده کند.</p>
<div class="row">
<div class="col-lg-6 col-sm-6"><ul class="ps-0 list-unstyled about-list">
<li>راه حل های حرفه ای مشکل</li>
<li>مدیریت ارتباط با مشتری</li>
<li>طراحی و توسعه وب</li>
</ul></div>
<div class="col-lg-6 col-sm-6"><ul class="ps-0 list-unstyled about-list">
<li>توسعه تجاری</li>
<li>ایجاد محتوا و استراتژی برند</li>
<li>آژانس خلاق دیجیتال</li>
</ul></div>
</div>
<div class="d-inline-block"><a href="about-us.html" class="circle-btn d-inline-block text-decoration-none d-flex align-items-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a></div>
</div></div>
</div></div></div>
<div class="services-area bg-color-030303 ptb-100"><div class="container">
<div class="section-title white-title" data-cues="slideInUp">
<span class="top-title">خدمات ما</span><h2>راه حل های آژانس حرفه ای و خلاق</h2>
</div>
<div class="row justify-content-center" data-cues="slideInUp">
<div class="col-xl-3 col-sm-6"><div class="services-single-item">
<div class="icon"><img src="{% static '/images/services-icon-1.scg' %}" alt="services-icon"></div>
<h3><a href="service-details.html">مشاوره استراتژی</a></h3>
<p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
<ul class="ps-0 mb-0 list-unstyled">
<li>مدیریت تولید</li>
<li>مشاوره مالی</li>
<li>استراتژی محصول</li>
</ul>
</div></div>
<div class="col-xl-3 col-sm-6"><div class="services-single-item">
<div class="icon"><img src="{% static '/images/services-icon-2.scg' %}" alt="services-icon"></div>
<h3><a href="service-details.html">بازاریابی دیجیتال</a></h3>
<p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
<ul class="ps-0 mb-0 list-unstyled">
<li>استراتژی های بازاریابی</li>
<li>توسعه تجاری</li>
<li>مشاوره مالی</li>
</ul>
</div></div>
<div class="col-xl-3 col-sm-6"><div class="services-single-item">
<div class="icon"><img src="{% static '/images/services-icon-3.scg' %}" alt="services-icon"></div>
<h3><a href="service-details.html">توسعه وب</a></h3>
<p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
<ul class="ps-0 mb-0 list-unstyled">
<li>راه حل های فناوری</li>
<li>تجزیه و تحلیل تحقیقات بازار</li>
<li>مدیریت پروژه</li>
</ul>
</div></div>
<div class="col-xl-3 col-sm-6"><div class="services-single-item">
<div class="icon"><img src="{% static '/images/services-icon-4.scg' %}" alt="services-icon"></div>
<h3><a href="service-details.html">طراحی خلاقانه</a></h3>
<p>راهنمایی تخصصی در تدوین و برنامه های رشد.</p>
<ul class="ps-0 mb-0 list-unstyled">
<li>آموزش و توسعه</li>
<li>مشاوره پایداری</li>
<li>مدیریت بحران</li>
</ul>
</div></div>
<div class="col-lg-12 text-center"><div class="text-center services-btn d-inline-block m-auto mt-lg-4"><a href="services.html" class="circle-btn text-decoration-none d-flex align-items-center justify-content-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a></div></div>
</div>
</div></div>
<div class="who-we-are-area ptb-100"><div class="container"><div class="row align-items-center">
<div class="col-lg-6"><div class="who-we-are-content" data-cues="slideInUp">
<span class="top-title">ما کی هستیم</span><h2>آژانس خلاق ارائه دهنده خدمات با ارزش</h2>
<p>ما که با چشم‌اندازی برای تعریف مجدد هنر داستان‌سرایی و طراحی تأسیس شده‌ایم، از زمان آغاز به کار خود در ارائه راه‌حل‌های خلاقانه پیشگامانه در خط مقدم بوده‌ایم. آژانس ما یک نیروگاه پویا از استعدادها است که استعداد هنری را با زیرکی استراتژیک ادغام می کند تا دیدگاه ها را زنده کند.</p>
<div class="all-skill-bar">
<div class="skill-bar" data-percentage="75%">
<h4 class="progress-title-holder">
<span class="progress-title">بازاریابی دیجیتال</span><span class="progress-number-wrapper"><span class="progress-number-mark"><span class="percent"></span><span class="down-arrow"></span></span></span>
</h4>
<div class="progress-content-outter"><div class="progress-content"></div></div>
</div>
<div class="skill-bar" data-percentage="85%">
<h4 class="progress-title-holder clearfix">
<span class="progress-title">استراتژی برند</span><span class="progress-number-wrapper"><span class="progress-number-mark"><span class="percent"></span><span class="down-arrow"></span></span></span>
</h4>
<div class="progress-content-outter"><div class="progress-content"></div></div>
</div>
<div class="skill-bar" data-percentage="95%">
<h4 class="progress-title-holder clearfix">
<span class="progress-title">تجزیه و تحلیل رقبا</span><span class="progress-number-wrapper"><span class="progress-number-mark"><span class="percent"></span><span class="down-arrow"></span></span></span>
</h4>
<div class="progress-content-outter"><div class="progress-content"></div></div>
</div>
</div>
<div class="d-inline-block"><a href="about-us.html" class="circle-btn d-inline-block text-decoration-none mt-4 mt-xl-5 d-flex align-items-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a></div>
</div></div>
<div class="col-lg-6"><div class="who-we-are-img" data-cues="slideInUp"><img src="{% static '/images/who-we-are-img.png' %}" alt="who-we-are-img"></div></div>
</div></div></div>
<div class="testimonial-area pb-100"><div class="container"><div class="testimonial-slide owl-carousel owl-theme">
<div class="d-md-flex align-items-center testimonial-single-item">
<div class="flex-shrink-0"><img src="{% static '/images/testimonial-1.jpg' %}" class="testimonial-img" alt="testimonial"></div>
<div class="flex-grow-1 ms-md-4 mt-3 mt-md-0">
<p>ما که با چشم‌اندازی برای تعریف مجدد هنر داستان‌سرایی و طراحی تأسیس شده‌ایم، از زمان آغاز به کار خود در ارائه راه‌حل‌های خلاقانه پیشگامانه در خط مقدم بوده‌ایم. آژانس ما یک نیروگاه پویا از استعدادها است.</p>
<h4>مارک فیلیپس /<span>طراح محصول</span>
</h4>
</div>
<img src="{% static '/images/quat.scg' %}" class="quat" alt="quat">
</div>
<div class="d-md-flex align-items-center testimonial-single-item">
<div class="flex-shrink-0"><img src="{% static '/images/testimonial-2.jpg' %}" class="testimonial-img" alt="testimonial"></div>
<div class="flex-grow-1 ms-md-4 mt-3 mt-md-0">
<p>با ایجاد چشم‌اندازی برای بازتعریف هنر داستان‌سرایی و طراحی، ما از همان ابتدا در خط مقدم ارائه راه‌حل‌های خلاقانه پیشگام بوده‌ایم. آژانس ما استعداد نیروگاه پویا است.</p>
<h4>الکس فیلیپس /<span>فروش محصول</span>
</h4>
</div>
<img src="{% static '/images/quat.scg' %}" class="quat" alt="quat">
</div>
</div></div></div>
<div class="case-study-area overflow-hidden pb-100"><div class="container-fluid p-0">
<div class="section-title" data-cues="slideInUp">
<span class="top-title">مطالعه موردی</span><h2>راه حل های دنیای واقعی موفق هستند</h2>
</div>
<div class="case-study-content-wrap"><ul class="slider" data-cues="slideInUp">
<li class="bg-img" data-background="./assets/images/case-study-1.jpg' %}">
<h1>01</h1>
<a href="cases-study-details.html"><div class="case-study-content">
<span>مشاوره مالی</span><div></div>
<h4>کمک در برنامه ریزی مالی</h4>
</div></a>
</li>
<li class="bg-img" data-background="./assets/images/case-study-2.jpg' %}">
<h1>02</h1>
<a href="cases-study-details.html"><div class="case-study-content">
<span>مشاوره مالی</span><div></div>
<h4>کمک در برنامه ریزی مالی</h4>
</div></a>
</li>
<li class="bg-img" data-background="./assets/images/case-study-3.jpg' %}">
<h1>03</h1>
<a href="cases-study-details.html"><div class="case-study-content">
<span>مشاوره مالی</span><div></div>
<h4>کمک در برنامه ریزی مالی</h4>
</div></a>
</li>
<li class="bg-img" data-background="./assets/images/case-study-4.jpg' %}">
<h1>04</h1>
<a href="cases-study-details.html"><div class="case-study-content">
<span>مشاوره مالی</span><div></div>
<h4>کمک در برنامه ریزی مالی</h4>
</div></a>
</li>
<li class="bg-img" data-background="./assets/images/case-study-5.jpg' %}">
<h1>05</h1>
<a href="cases-study-details.html"><div class="case-study-content">
<span>مشاوره مالی</span><div></div>
<h4>کمک در برنامه ریزی مالی</h4>
</div></a>
</li>
</ul></div>
<div class="text-center" data-cues="slideInUp"><div class="d-inline-block"><a href="case-study.html" class="circle-btn d-inline-block text-decoration-none mt-4 mt-xl-5 d-flex align-items-center justify-content-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a></div></div>
</div></div>
<div class="faq-area pb-100"><div class="container">
<div class="section-title text-start ms-0" data-cues="slideInUp">
<span class="top-title">سوالات متداول</span><h2>چگونه با ما کار با کیفیت داشته باشیم</h2>
</div>
<div class="faq-img" data-cues="slideInUp"><img src="{% static '/images/faq-img.jpg' %}" alt="faq-img"></div>
<div class="accordion accordion-content" id="accordionExample" data-cues="slideInUp">
<div class="accordion-item">
<h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span class="count">01</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>تفاوت بین آژانس خلاق و آژانس بازاریابی چیست؟</span></span></span></button></h2>
<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample"><div class="accordion-body"><p>موفقیت شما اولویت ماست ما دستاوردهای خود را با داستان های موفقیت مشتریانمان می سنجیم. از طریق ارتباط بی‌وقفه، توجه دقیق به جزئیات، و اشتیاق به کمال، تلاش می‌کنیم از انتظارات شما فراتر برویم.</p></div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span class="count">02</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>تفاوت بین رسانه و آژانس خلاق چیست؟</span></span></span></button></h2>
<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample"><div class="accordion-body"><p>موفقیت شما اولویت ماست ما دستاوردهای خود را با داستان های موفقیت مشتریانمان می سنجیم. از طریق ارتباط بی‌وقفه، توجه دقیق به جزئیات، و اشتیاق به کمال، تلاش می‌کنیم از انتظارات شما فراتر برویم.</p></div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span class="count">03</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>تفاوت بین رسانه و آژانس خلاق چیست؟</span></span></span></button></h2>
<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample"><div class="accordion-body"><p>موفقیت شما اولویت ماست ما دستاوردهای خود را با داستان های موفقیت مشتریانمان می سنجیم. از طریق ارتباط بی‌وقفه، توجه دقیق به جزئیات، و اشتیاق به کمال، تلاش می‌کنیم از انتظارات شما فراتر برویم.</p></div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span class="count">04</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>تفاوت آژانس خلاق و استودیو چیست؟</span></span></span></button></h2>
<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample"><div class="accordion-body"><p>موفقیت شما اولویت ماست ما دستاوردهای خود را با داستان های موفقیت مشتریانمان می سنجیم. از طریق ارتباط بی‌وقفه، توجه دقیق به جزئیات، و اشتیاق به کمال، تلاش می‌کنیم از انتظارات شما فراتر برویم.</p></div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span class="count">05</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>چه کسی مسئول محصول خلاقانه یک آژانس است؟</span></span></span></button></h2>
<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample"><div class="accordion-body"><p>موفقیت شما اولویت ماست ما دستاوردهای خود را با داستان های موفقیت مشتریانمان می سنجیم. از طریق ارتباط بی‌وقفه، توجه دقیق به جزئیات، و اشتیاق به کمال، تلاش می‌کنیم از انتظارات شما فراتر برویم.</p></div></div>
</div>
</div>
</div></div>
<div class="contact-us-area bg-color-030303 ptb-100"><div class="container">
<div class="section-title white-title" data-cues="slideInUp">
<span class="top-title">وقت ملاقات</span><h2>دوست دارم از شما بشنوم تماس بگیرید!</h2>
</div>
<form class="appointment-form"><div class="row" data-cues="slideInUp">
<div class="col-lg-6"><div class="form-group"><input type="text" class="form-control" placeholder="اسم شما *"></div></div>
<div class="col-lg-6"><div class="form-group"><input type="email" class="form-control" placeholder="ایمیل شما *"></div></div>
<div class="col-lg-6"><div class="form-group"><input type="text" class="form-control" placeholder="آنچه شما علاقه دارید *"></div></div>
<div class="col-lg-6"><div class="form-group"><input type="text" class="form-control" placeholder="بودجه پروژه *"></div></div>
<div class="col-lg-12"><div class="form-group"><textarea cols="30" rows="5" class="form-control" placeholder="پیام *"></textarea></div></div>
<div class="col-lg-12"><div class="services-btn d-inline-block"><button type="submit" class="circle-btn text-decoration-none d-flex align-items-center bg-transparent"><span>پیام فرستادن</span><i class="fa-solid fa-arrow-up-right"></i></button></div></div>
</div></form>
</div></div>
<div class="footer-area pt-100 pb-75"><div class="container"><div class="row" data-cues="slideInUp">
<div class="col-lg-3 col-sm-6"><div class="footer-single-item">
<a href="index.html" class="logo"><img src="{% static '/images/logo.scg' %}" alt="logo"></a><p>در سفری به ما بپیوندید که در آن خلاقیت حد و مرزی نمی شناسد و نوآوری رشد می کند. امروز با [Stir] تماس بگیرید،</p>
<ul class="social-link ps-0 mb-0 list-unstyled">
<li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
</ul>
</div></div>
<div class="col-lg-3 col-sm-6"><div class="footer-single-item ms-lg-5">
<h3>لینک های مفید</h3>
<ul class="useful-link">
<li><a href="about-us.html">درباره ما</a></li>
<li><a href="case-study.html">مطالعه موردی</a></li>
<li><a href="services.html">خدمات ما</a></li>
<li><a href="contact-us.html">با ما تماس بگیرید</a></li>
<li><a href="faq.html">سوالات متداول</a></li>
</ul>
</div></div>
<div class="col-lg-3 col-sm-6"><div class="footer-single-item">
<h3>با ما تماس بگیرید</h3>
<p class="mb-3">خیابان Samwell، Trankturt 2589 نیویورک.</p>
<ul class="contact-info ms-0">
<li><a href="mailto:information@stir.com">information@stir.com</a></li>
<li><a href="tel:+52883256953129">+5288 32569 53129</a></li>
</ul>
</div></div>
<div class="col-lg-3 col-sm-6"><div class="footer-single-item">
<h3>مشترک ما شوید</h3>
<p>برای به روز رسانی های بعدی در خبرنامه ما مشترک شوید. نگران نباشید ما آدرس ایمیل شما را اسپم نمی کنیم</p>
<form class="position-relative z-1">
<input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید"><button type="submit" class="p-0 bg-transparent border-0 send-btn position-absolute top-50 end-0 translate-middle-y"><i class="fa-light fa-paper-plane-top"></i></button>
</form>
</div></div>
</div></div></div>
<div class="container"><p class="copy-right">کپی رایت،<span>برای <a href="https://mellatweb.com"> ملت وب </a></span>تمامی حقوق محفوظ است</p></div>
<div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
<script src="{% static '/js/jquery.min.js' %}"></script><script src="{% static '/js/bootstrap.bundle.min.js' %}"></script><script src="{% static '/js/jquery.meanmenu.js' %}"></script><script src="{% static '/js/owl.carousel.min.js' %}"></script><script src="{% static '/js/scrollcue.js' %}"></script><script src="{% static '/js/magnific-popup.min.js' %}"></script><script src="{% static '/js/counterup.min.js' %}"></script><script src="{% static '/js/waypoints.min.js' %}"></script><script src="{% static '/js/mixitup.min.js' %}"></script><script src="{% static '/js/smoothscroll.min.js' %}"></script><script src="{% static '/js/custom.js' %}"></script>
</body>
</html>
