{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static '/css/bootstrap.rtl.min.css' %}">
<link rel="stylesheet" href="{% static '/css/meanmenu.css' %}">
<link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static '/css/icofont.min.css' %}">
<link rel="stylesheet" href="{% static '/css/font-awesome-pro.css' %}">
<link rel="stylesheet" href="{% static '/css/scrollcue.css' %}">
<link rel="stylesheet" href="{% static '/css/magnific-popup.min.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
<link rel="icon" type="image/png" href="{% static '/images/favicon.png' %}">
<title>Stir - قالب HTML آژانس چند منظوره</title>
</head>
<body class="digital-agency-body">
<div class="preloader"><div class="content">
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
<div class="ball"></div>
</div></div>
<div class="navbar-area style-three">
<div class="main-nav"><div class="container mw-1680"><nav class="navbar navbar-expand-md navbar-light"><a class="navbar-brand" href="index.html"><img src="{% static '/images/black-logo.svg' %}" alt="black-logo"></a><div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
<ul class="navbar-nav me-auto">
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">صفحه اصلی</a><ul class="dropdown-menu">
<li class="nav-item"><a href="index.html" class="nav-link">آژانس خلاق</a></li>
<li class="nav-item"><a href="index-2.html" class="nav-link">آژانس بازرگانی</a></li>
<li class="nav-item"><a href="index-3.html" class="nav-link active">آژانس دیجیتال</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">صفحات</a><ul class="dropdown-menu">
<li class="nav-item"><a href="about-us.html" class="nav-link">درباره ما</a></li>
<li class="nav-item"><a href="team.html" class="nav-link">تیم</a></li>
<li class="nav-item"><a href="faq.html" class="nav-link">سوالات متداول</a></li>
<li class="nav-item"><a href="testimonials.html" class="nav-link">گواهینامه ها</a></li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">احراز هویت</a><ul class="dropdown-menu">
<li class="nav-item"><a href="sign-in.html" class="nav-link">ورود</a></li>
<li class="nav-item"><a href="sign-up.html" class="nav-link">ثبت نام</a></li>
</ul>
</li>
<li class="nav-item"><a href="privacy-policy.html" class="nav-link">سیاست حفظ حریم خصوصی</a></li>
<li class="nav-item"><a href="terms-conditions.html" class="nav-link">شرایط و ضوابط</a></li>
<li class="nav-item"><a href="404.html" class="nav-link">خطا</a></li>
<li class="nav-item"><a href="contact-us.html" class="nav-link">با ما تماس بگیرید</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">خدمات</a><ul class="dropdown-menu">
<li class="nav-item"><a href="services.html" class="nav-link">خدمات</a></li>
<li class="nav-item"><a href="service-details.html" class="nav-link">جزئیات خدمات</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">مطالعه موردی</a><ul class="dropdown-menu">
<li class="nav-item"><a href="case-study.html" class="nav-link">مطالعه موردی</a></li>
<li class="nav-item"><a href="cases-study-details.html" class="nav-link">جزئیات مطالعه موردی</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">خرید کنید</a><ul class="dropdown-menu">
<li class="nav-item"><a href="products.html" class="nav-link">محصولات</a></li>
<li class="nav-item"><a href="cart.html" class="nav-link">سبد خرید</a></li>
<li class="nav-item"><a href="checkout.html" class="nav-link">وارسی</a></li>
<li class="nav-item"><a href="product-details.html" class="nav-link">جزئیات محصول</a></li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">وبلاگ</a><ul class="dropdown-menu">
<li class="nav-item"><a href="blog.html" class="nav-link">وبلاگ</a></li>
<li class="nav-item"><a href="single-blog.html" class="nav-link">صفحه وبلاگ واحد</a></li>
</ul>
</li>
</ul>
<div class="nav-right-options d-flex align-items-center">
<ul class="social-link ps-0 mb-0 list-unstyled">
<li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
</ul>
<button class="src-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i class="fa-sharp fa-regular fa-magnifying-glass"></i></button><button class="menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-regular fa-bars"></i></button>
</div>
</div></nav></div></div>
<div class="mobile-nav"><div class="container"><div class="mobile-menu"><div class="logo"><a href="index.html"><img src="{% static '/images/white-logo.svg' %}" alt="logo"></a></div></div></div></div>
</div>
<div class="offcanvas offcanvas-top search-offcanvas" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel"><div class="container">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasTopLabel">اینجا جستجو کنید</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body"><form class="src-form position-relative">
<input type="text" class="form-control" placeholder="اینجا جستجو کنید"><button type="submit" class="position-absolute top-50 end-0 translate-middle-y src-btn"><i class="fa-regular fa-magnifying-glass"></i></button>
</form></div>
</div></div>
<div class="offcanvas offcanvas-end contact-offcanvas" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasRightLabel">با ما تماس بگیرید</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body"><form>
<div class="form-group mb-4"><input type="text" class="form-control" placeholder="نام کوچک"></div>
<div class="form-group mb-4"><input type="text" class="form-control" placeholder="نام خانوادگی"></div>
<div class="form-group mb-4"><input type="email" class="form-control" placeholder="ایمیل را وارد کنید"></div>
<div class="form-group mb-4"><input type="number" class="form-control" placeholder="شماره تلفن را وارد کنید"></div>
<div class="form-group mb-4"><input type="text" class="form-control" placeholder="موضوع"></div>
<div class="form-group mb-4"><textarea class="form-control" placeholder="پیام های شما" cols="30" rows="5"></textarea></div>
<div class="form-group"><button type="submit" class="main-btn style-three">ارسال</button></div>
</form></div>
</div>
<div class="banner-area-three position-relative">
<div class="container mw-1680"><div class="banner-content-three" data-cues="slideInUp" data-group="images">
<h1>دیجیتال</h1>
<h1 class="agency">آژانس</h1>
<div class="agency-info">
<p>سلام 👋. ما Stir یک آژانس دیجیتال مبتنی بر برند هستیم که اصالت را به هر کاری که انجام می دهیم القا می کند.</p>
<div class="d-flex align-items-center map-info">
<div class="flex-shrink-0"><div class="map-icon"><img src="{% static '/images/map.svg' %}" alt="map"></div></div>
<div class="flex-grow-1 ms-3"><h4>آژانس این سال در سراسر جهان</h4></div>
</div>
</div>
<a href="services.html" class="banner-btn"><span>خدمات ما را کاوش کنید<i class="fa-solid fa-arrow-up-right"></i></span></a>
</div></div>
<img src="{% static '/images/banner-img-three.jpg' %}" class="banner-img-three" alt="banner-img"><img src="{% static '/images/shape-4.png' %}" class="shape shape-4" alt="shape"><a href="#about-us" class="scroll-btn"><i class="fa-sharp fa-light fa-arrow-down"></i></a>
</div>
<div class="services-area-three pt-100 mt-5"><div class="container">
<div class="section-title style-three" data-cues="slideInUp"><h2>آنچه ما می توانیم برای مشتریان خود انجام دهیم</h2></div>
<div class="row justify-content-center" data-cues="slideInUp">
<div class="col-xl-4 col-md-6"><div class="services-single-item-three">
<img src="{% static '/images/services-icon-9.svg' %}" alt="services-icon"><h3><a href="service-details.html">طراحی برندینگ</a></h3>
<p>ما به روابط موفقیت اهمیت می دهیم که باعث موفقیت واقعی می شود ما عاشق ساختن برند و کمک کردن هستیم</p>
<a href="service-details.html" class="read-more">دیدن جزئیات</a>
</div></div>
<div class="col-xl-4 col-md-6"><div class="services-single-item-three">
<img src="{% static '/images/services-icon-10.svg' %}" alt="services-icon"><h3><a href="service-details.html">توسعه وب سایت</a></h3>
<p>ما به روابط موفقیت اهمیت می دهیم که باعث موفقیت واقعی می شود ما عاشق ساختن برند و کمک کردن هستیم</p>
<a href="service-details.html" class="read-more">دیدن جزئیات</a>
</div></div>
<div class="col-xl-4 col-md-6"><div class="services-single-item-three">
<img src="{% static '/images/services-icon-11.svg' %}" alt="services-icon"><h3><a href="service-details.html">بازاریابی دیجیتال</a></h3>
<p>ما به روابط موفقیت اهمیت می دهیم که باعث موفقیت واقعی می شود ما عاشق ساختن برند و کمک کردن هستیم</p>
<a href="service-details.html" class="read-more">دیدن جزئیات</a>
</div></div>
<div class="col-xl-4 col-md-6"><div class="services-single-item-three">
<img src="{% static '/images/services-icon-12.svg' %}" alt="services-icon"><h3><a href="service-details.html">مدیریت رسانه های اجتماعی</a></h3>
<p>ما به روابط موفقیت اهمیت می دهیم که باعث موفقیت واقعی می شود ما عاشق ساختن برند و کمک کردن هستیم</p>
<a href="service-details.html" class="read-more">دیدن جزئیات</a>
</div></div>
<div class="col-xl-4 col-md-6"><div class="services-single-item-three">
<img src="{% static '/images/services-icon-13.svg' %}" alt="services-icon"><h3><a href="service-details.html">تجزیه و تحلیل و عملکرد</a></h3>
<p>ما به روابط موفقیت اهمیت می دهیم که باعث موفقیت واقعی می شود ما عاشق ساختن برند و کمک کردن هستیم</p>
<a href="service-details.html" class="read-more">دیدن جزئیات</a>
</div></div>
<div class="col-xl-4 col-md-6"><div class="services-single-item-three">
<img src="{% static '/images/services-icon-14.svg' %}" alt="services-icon"><h3><a href="service-details.html">بهینه سازی موتور جستجو</a></h3>
<p>ما به روابط موفقیت اهمیت می دهیم که باعث موفقیت واقعی می شود ما عاشق ساختن برند و کمک کردن هستیم</p>
<a href="service-details.html" class="read-more">دیدن جزئیات</a>
</div></div>
</div>
</div></div>
<div id="about-us" class="who-we-are-area pt-75 pb-100 bg-color-f6f5f3"><div class="container"><div class="row align-items-end">
<div class="col-lg-6" data-cues="slideInUp"><div class="who-we-are-img-two"><img src="{% static '/images/who-we-are-img-2.jpg' %}" alt="who-we-are-img"></div></div>
<div class="col-lg-6"><div class="who-we-are-content-two" data-cues="slideInUp">
<h2>ما طیف گسترده ای از خدمات برند را ارائه می دهیم</h2>
<p>ما یک آژانس دیجیتالی هستیم که با برندهایی که استراتژی روشن‌تری ایجاد می‌کنند، طراحی‌های منحصربه‌فرد ایجاد می‌کنند و ارزش ایجاد می‌کنند</p>
<div class="all-skill-bar">
<div class="skill-bar" data-percentage="85%">
<h4 class="progress-title-holder">
<span class="progress-title">توسعه</span><span class="progress-number-wrapper"><span class="progress-number-mark"><span class="percent"></span><span class="down-arrow"></span></span></span>
</h4>
<div class="progress-content-outter"><div class="progress-content"></div></div>
</div>
<div class="skill-bar" data-percentage="65%">
<h4 class="progress-title-holder clearfix">
<span class="progress-title">تبلیغات</span><span class="progress-number-wrapper"><span class="progress-number-mark"><span class="percent"></span><span class="down-arrow"></span></span></span>
</h4>
<div class="progress-content-outter"><div class="progress-content"></div></div>
</div>
<div class="skill-bar" data-percentage="90%">
<h4 class="progress-title-holder clearfix">
<span class="progress-title">بازار یابی</span><span class="progress-number-wrapper"><span class="progress-number-mark"><span class="percent"></span><span class="down-arrow"></span></span></span>
</h4>
<div class="progress-content-outter"><div class="progress-content"></div></div>
</div>
<div class="skill-bar" data-percentage="75%">
<h4 class="progress-title-holder clearfix">
<span class="progress-title">نام تجاری</span><span class="progress-number-wrapper"><span class="progress-number-mark"><span class="percent"></span><span class="down-arrow"></span></span></span>
</h4>
<div class="progress-content-outter"><div class="progress-content"></div></div>
</div>
</div>
</div></div>
</div></div></div>
<div class="marquee-area-three">
<div class="container-fluid ptb-100"><div class="marquee-wrapper"><div class="marquee" data-cues="slideInUp">
<h1>آخرین ما</h1>
<h1 class="block">مورد</h1>
<h1>آخرین ما</h1>
<h1>آخرین ما</h1>
<h1 class="block">مورد</h1>
<h1>آخرین ما</h1>
</div></div></div>
<div class="container"><div class="row" data-cues="slideInUp">
<div class="col-lg-6">
<div class="case-study-single-item-three">
<a href="cases-study-details.html" class="d-block case-study-img"><img src="{% static '/images/case-study-6.jpg' %}" alt="case-study"></a><ul class="ps-0 list-unstyled d-flex flex-wrap gap-3 tags">
<li><a href="case-study.html">نام تجاری</a></li>
<li><a href="case-study.html">توسعه</a></li>
<li><a href="case-study.html">بازار یابی</a></li>
</ul>
<h3><a href="cases-study-details.html">ایجاد محتوای ویدیویی با کیفیت بالا، از جمله فیلم های تبلیغاتی، آموزش،</a></h3>
<a href="cases-study-details.html" class="circle-btn d-inline-block text-decoration-none d-flex align-items-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a>
</div>
<div class="case-study-single-item-three">
<a href="cases-study-details.html" class="d-block case-study-img"><img src="{% static '/images/case-study-8.jpg' %}" alt="case-study"></a><ul class="ps-0 list-unstyled d-flex flex-wrap gap-3 tags">
<li><a href="case-study.html">نام تجاری</a></li>
<li><a href="case-study.html">توسعه</a></li>
<li><a href="case-study.html">بازار یابی</a></li>
</ul>
<h3><a href="cases-study-details.html">بهینه سازی حضور آنلاین برای مشاغل محلی، از جمله استراتژی های SEO محلی،</a></h3>
<a href="cases-study-details.html" class="circle-btn d-inline-block text-decoration-none d-flex align-items-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a>
</div>
</div>
<div class="col-lg-6 mt-100">
<div class="case-study-single-item-three">
<a href="cases-study-details.html" class="d-block case-study-img"><img src="{% static '/images/case-study-7.jpg' %}" alt="case-study"></a><ul class="ps-0 list-unstyled d-flex flex-wrap gap-3 tags">
<li><a href="case-study.html">نام تجاری</a></li>
<li><a href="case-study.html">توسعه</a></li>
<li><a href="case-study.html">بازار یابی</a></li>
</ul>
<h3><a href="cases-study-details.html">همکاری با افراد یا شخصیت های با نفوذ در رسانه های اجتماعی،</a></h3>
<a href="cases-study-details.html" class="circle-btn d-inline-block text-decoration-none d-flex align-items-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a>
</div>
<div class="case-study-single-item-three">
<a href="cases-study-details.html" class="d-block case-study-img"><img src="{% static '/images/case-study-9.jpg' %}" alt="case-study"></a><ul class="ps-0 list-unstyled d-flex flex-wrap gap-3 tags">
<li><a href="case-study.html">نام تجاری</a></li>
<li><a href="case-study.html">توسعه</a></li>
<li><a href="case-study.html">بازار یابی</a></li>
</ul>
<h3><a href="cases-study-details.html">اجرای تبلیغات پولی هدفمند در پلتفرم های رسانه های اجتماعی برای رسیدن به موارد خاص،</a></h3>
<a href="cases-study-details.html" class="circle-btn d-inline-block text-decoration-none d-flex align-items-center"><span>بیشتر بدانید</span><i class="fa-solid fa-arrow-up-right"></i></a>
</div>
</div>
</div></div>
</div>
<div class="video-area"><div class="container">
<div class="section-title style-two" data-cues="slideInUp"><h2>ایده های خود را در کارگاه های طراحی و فناوری ما تقویت کنید و در آژانس طراحی-خلاق ما به واقعیت تبدیل شوید.</h2></div>
<div class="video-img-wrap" data-cues="slideInUp">
<img src="{% static '/images/video-img-2.jpg' %}" alt="video-img"><div class="position-absolute top-50 start-50 translate-middle"><a href="https://youtu.be/bk7McNUjWgw?si=m_dHkilr3ALPzNl9" class="video-btns ms-3 ms-lg-5 popup-youtube"><i class="fa-solid fa-play"></i></a></div>
</div>
</div></div>
<div class="team-area pt-100 pb-75"><div class="container">
<div class="section-title style-two mw-800" data-cues="slideInUp"><h2>با اعضای تیم مجرب ما آشنا شوید</h2></div>
<div class="row justify-content-center" data-cues="slideInUp">
<div class="col-xl-3 col-md-6"><div class="team-single-item style-two">
<img src="{% static '/images/team-1.jpg' %}" alt="team"><div class="d-flex justify-content-between align-items-center gap-3 flex-wrap">
<div class="info">
<h3>دایانا ویلسون</h3>
<span>طراح UI/UX</span>
</div>
<ul class="ps-0 mb-0 list-unstyled social-link">
<li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
<li><a href="#" target="_blank"><i class="fa-regular fa-plus"></i></a></li>
</ul>
</div>
</div></div>
<div class="col-xl-3 col-md-6"><div class="team-single-item style-two">
<img src="{% static '/images/team-2.jpg' %}" alt="team"><div class="d-flex justify-content-between align-items-center gap-3 flex-wrap">
<div class="info">
<h3>سد شیلا</h3>
<span>توسعه دهنده وب</span>
</div>
<ul class="ps-0 mb-0 list-unstyled social-link">
<li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
<li><a href="#" target="_blank"><i class="fa-regular fa-plus"></i></a></li>
</ul>
</div>
</div></div>
<div class="col-xl-3 col-md-6"><div class="team-single-item style-two">
<img src="{% static '/images/team-3.jpg' %}" alt="team"><div class="d-flex justify-content-between align-items-center gap-3 flex-wrap">
<div class="info">
<h3>گلندا پلرین</h3>
<span>طراح محصول</span>
</div>
<ul class="ps-0 mb-0 list-unstyled social-link">
<li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
<li><a href="#" target="_blank"><i class="fa-regular fa-plus"></i></a></li>
</ul>
</div>
</div></div>
<div class="col-xl-3 col-md-6"><div class="team-single-item style-two">
<img src="{% static '/images/team-4.jpg' %}" alt="team"><div class="d-flex justify-content-between align-items-center gap-3 flex-wrap">
<div class="info">
<h3>جسیکا پاروت</h3>
<span>مشاور ارشد</span>
</div>
<ul class="ps-0 mb-0 list-unstyled social-link">
<li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
<li><a href="#" target="_blank"><i class="fa-regular fa-plus"></i></a></li>
</ul>
</div>
</div></div>
</div>
</div></div>
<div class="testimonials-area-three pb-100 bg-color-f6f5f3 overflow-hidden"><div class="container"><div class="row align-items-end">
<div class="col-lg-8">
<div class="section-title ms-0 text-start" data-cues="slideInUp"><h2>گواهینامه ها</h2></div>
<div class="testimonial-slide-two owl-carousel owl-theme">
<div class="testimonials-single-item-two style-three">
<ul class="ps-0 list-unstyled d-flex gap-2 review">
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
</ul>
<p>خواه افزایش دید بازار، بهبود کارایی عملیاتی یا اجرای فناوری‌های پیشرفته باشد، آژانس ما طیف گسترده‌ای از خدمات را ارائه می‌دهد. از مشاوره استراتژیک و تحول دیجیتال گرفته تا استراتژی های بازاریابی و مشاوره مالی...</p>
<div class="d-flex align-items-center info">
<div class="flex-shrink-0"><img src="{% static '/images/testimonial-3.png' %}" class="rounded-circle" alt="testimonial"></div>
<div class="flex-grow-1 ms-3">
<h3>برندی رو</h3>
<span>رهبر بازاریابی در Technlogia</span>
</div>
</div>
</div>
<div class="testimonials-single-item-two style-three">
<ul class="ps-0 list-unstyled d-flex gap-2 review">
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
<li><i class="fa-solid fa-star"></i></li>
</ul>
<p>خواه افزایش دید بازار، بهبود کارایی عملیاتی یا اجرای فناوری‌های پیشرفته باشد، آژانس ما طیف گسترده‌ای از خدمات را ارائه می‌دهد. از مشاوره استراتژیک و تحول دیجیتال گرفته تا استراتژی های بازاریابی و مشاوره مالی...</p>
<div class="d-flex align-items-center info">
<div class="flex-shrink-0"><img src="{% static '/images/testimonial-3.png' %}" class="rounded-circle" alt="testimonial"></div>
<div class="flex-grow-1 ms-3">
<h3>برندی رو</h3>
<span>رهبر بازاریابی در Technlogia</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4"><div class="testimonial-img-three mt-4 mt-lg-0"><img src="{% static '/images/testimonial-5.jpg' %}" alt="testimonial"></div></div>
</div></div></div>
<div class="marquee-area-three">
<div class="container-fluid ptb-100"><div class="marquee-wrapper"><div class="marquee" data-cues="slideInUp">
<h1>آخرین ما</h1>
<h1 class="block">مقالات</h1>
<h1>and News</h1>
<h1>آخرین ما</h1>
<h1 class="block">مقالات</h1>
<h1>and News</h1>
</div></div></div>
<div class="container"><div class="row justify-content-center" data-cues="slideInUp">
<div class="col-lg-6"><div class="case-study-single-item-three">
<a href="single-blog.html" class="d-block case-study-img"><img src="{% static '/images/blog-3.jpg' %}" alt="blog"></a><ul class="ps-0 list-unstyled d-flex flex-wrap gap-3 tags">
<li><a href="blog.html">نام تجاری</a></li>
<li><a href="blog.html">توسعه</a></li>
<li><a href="blog.html">بازار یابی</a></li>
<li><a href="blog.html">3 Minutes Read</a></li>
</ul>
<h3><a href="single-blog.html">بهبود طراحی تجربه کاربری (UX) و رابط کاربری (UI) در وب سایت ها، برنامه ها،</a></h3>
</div></div>
<div class="col-lg-6"><div class="case-study-single-item-three">
<a href="single-blog.html" class="d-block case-study-img"><img src="{% static '/images/blog-4.jpg' %}" alt="blog"></a><ul class="ps-0 list-unstyled d-flex flex-wrap gap-3 tags">
<li><a href="blog.html">نام تجاری</a></li>
<li><a href="blog.html">توسعه</a></li>
<li><a href="blog.html">بازار یابی</a></li>
<li><a href="blog.html">3 Minutes Read</a></li>
</ul>
<h3><a href="single-blog.html">ایجاد راه حل های چت بات برای وب سایت ها و پلت فرم های رسانه های اجتماعی برای خودکارسازی مشتری،</a></h3>
</div></div>
</div></div>
</div>
<div class="footer-area-three bg-color-f6f5f3"><div class="container">
<div class="row align-items-center" data-cues="slideInUp">
<div class="col-lg-4 col-sm-6"><div class="footer-single-item-three"><h2>بیایید با هم کار کنیم</h2></div></div>
<div class="col-lg-4 col-sm-6"><div class="footer-single-item-three"><ul class="ps-0 mb-0 list-unstyled social-link">
<li><a href="https://www.facebook.com/" target="_blank">فیس بوک</a></li>
<li><a href="https://www.facebook.com/" target="_blank">توییتر</a></li>
<li><a href="https://www.facebook.com/" target="_blank">لینکدین</a></li>
<li><a href="https://www.facebook.com/" target="_blank">اینستاگرام</a></li>
</ul></div></div>
<div class="col-lg-4 col-sm-6"><div class="footer-single-item-three">
<p>ما آژانس دیجیتالی هستیم که به کسب‌وکارها کمک می‌کنیم تجربیات کاربر را فراگیر و جذاب ایجاد کنند</p>
<a href="contact-us.html" class="main-btn style-three">بیایید با ما صحبت کنیم</a>
</div></div>
</div>
<div class="footer-menu d-flex justify-content-center justify-content-lg-between flex-wrap gap-3 gap-lg--4" data-cues="slideInUp">
<ul class="ps-0 mb-0 list-unstyled d-flex gap-2 gap-md-3">
<li><a href="about-us.html">درباره شرکت</a></li>
<li><a href="case-study.html">مطالعه موردی ما</a></li>
<li><a href="services.html">خدمات ما</a></li>
<li><a href="contact-us.html">با ما تماس بگیرید</a></li>
</ul>
<ul class="ps-0 mb-0 list-unstyled d-flex gap-3 gap-md-4">
<li><a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
<li><a href="terms-conditions.html">شرایط و ضوابط</a></li>
</ul>
</div>
<p class="copyright">کپی رایت،<span>برای <a href="https://mellatweb.com"> ملت وب </a></span>تمامی حقوق محفوظ است</p>
</div></div>
<div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
<script src="{% static '/js/jquery.min.js' %}"></script><script src="{% static '/js/bootstrap.bundle.min.js' %}"></script><script src="{% static '/js/jquery.meanmenu.js' %}"></script><script src="{% static '/js/owl.carousel.min.js' %}"></script><script src="{% static '/js/scrollcue.js' %}"></script><script src="{% static '/js/magnific-popup.min.js' %}"></script><script src="{% static '/js/counterup.min.js' %}"></script><script src="{% static '/js/waypoints.min.js' %}"></script><script src="{% static '/js/mixitup.min.js' %}"></script><script src="{% static '/js/smoothscroll.min.js' %}"></script><script src="{% static '/js/custom.js' %}"></script>
</body>
</html>
