{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome-pro.css' %}">
  <link rel="stylesheet" href="{% static 'css/scrollcue.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <title>سوالات متداول | ShopFlow</title>
</head>

<body>
  <div class="preloader">
    <div class="content">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
  <div class="navbar-area bg-black">
    <div class="main-nav">
      <div class="container mw-1680">
        <nav class="navbar navbar-expand-md navbar-light"><a class="navbar-brand" href="{% url 'home' %}"><img
              src="{% static 'images/white-logo.svg' %}" alt="logo"></a>
          <div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">صفحه اصلی</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">خانه</a></li>
                  <li class="nav-item"><a href="{% url 'home_v2' %}" class="nav-link">آژانس بازرگانی</a></li>
                  <li class="nav-item"><a href="{% url 'home_v3' %}" class="nav-link">آژانس دیجیتال</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle active">صفحات</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">درباره ما</a></li>
                  <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link active">سوالات متداول</a></li>
                  <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle">احراز هویت</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item"><a href="{% url 'sign_in' %}" class="nav-link">ورود</a></li>
                      <li class="nav-item"><a href="{% url 'sign_up' %}" class="nav-link">ثبت نام</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="{% url 'privacy_policy' %}" class="nav-link">سیاست حفظ حریم خصوصی</a>
                  </li>
                  <li class="nav-item"><a href="{% url 'terms_conditions' %}" class="nav-link">شرایط و ضوابط</a></li>
                  <li class="nav-item"><a href="{% url 'page_not_found' %}" class="nav-link">خطا</a></li>
                  <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">با ما تماس بگیرید</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <ul class="dropdown-menu">
                </ul>
              </li>
              <li class="nav-item">
                <ul class="dropdown-menu">
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">خرید کنید</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'products' %}" class="nav-link">محصولات</a></li>
                  <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link">سبد خرید</a></li>
                  <li class="nav-item"><a href="{% url 'checkout' %}" class="nav-link">وارسی</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">وبلاگ</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">وبلاگ</a></li>
                  <li class="nav-item"><a href="{% url 'blog_detail' %}" class="nav-link">صفحه وبلاگ واحد</a></li>
                </ul>
              </li>
            </ul>
            <div class="nav-right-options d-flex align-items-center">
              
              <ul class="social-link ps-0 mb-0 list-unstyled">
                <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="mobile-nav">
      <div class="container">
        <div class="mobile-menu">
          <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/white-logo.svg' %}" alt="logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-banner-area bg-black bg-img" data-background="{% static 'images/banner-bg-shape.png' %}">
    <div class="container mw-1680">
      <div class="page-banner-content">
        <h2>سوالات متداول</h2>
        <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
          <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
          <li><span class="active">سوالات متداول</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="faq-area ptb-100">
    <div class="container">
      <div class="accordion accordion-content" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span
                class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">01</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span> چطور میتونم از ShopFlow
                    خرید کنم؟</span></span></span></button></h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>کافی است محصول مورد نظر خود را از بخش محصولات انتخاب کنید، آن را به سبد خرید اضافه کنید و پس از بررسی
                سفارش مراحل پرداخت و ثبت سفارش را تکمیل کنید.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">02</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>چه روش هایی برای پرداخت
                    وجود دارد؟</span></span></span></button></h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>در ShopFlow می توانید هزینه سفارش خود را از طریق روش هی پرداخت ارائه شده در صفحه تسویه حساب پرداخت کنید
                پس از پرداخت موفق، سفارش شما ثبت و برای ارسال آماده است.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">03</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>سفارش های من چه زمانی
                    ارسال می شود؟</span></span></span></button></h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>پس از ثبت و تایید سفارش، محصول در سریع ترین زمان ممکن آماده ارسال می شود.زمان تحویل بسته به مقصد و روش
                ارسال انتخاب شده متفاوت است.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
              aria-controls="collapseFour"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">04</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>چطور میتونم وضیعیت سفارش
                    خود را پیگیری کنم؟</span></span></span></button></h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>پس از ثبت سفارش، می توانید از اطلاعات سفارش خود برای پیگیری وضیعیت آن استفاده کنید.در صورت نیاز نیز می
                توانید با پشتیبانی ShopFlow در ارتباط باشید.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
              aria-controls="collapseFive"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span
                    class="count">05</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>چطور میتونم با پشتیبانی
                    ShopFlow تماس بگیرم؟</span></span></span></button></h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>برای ارتباط با پشتیبانی می‌توانید از طریق صفحه «تماس با ما» پیام خود را ارسال کنید. تیم پشتیبانی
                ShopFlow درخواست شما را بررسی و در اولین فرصت پاسخ خواهد داد</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area pt-100 pb-75 bg-color-030303">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three">
            <a href="{% url 'home' %}" class="logo"><img src="{% static 'images/white-logo.svg' %}"
                alt="white-logo"></a>
            <p>
              در ShopFlow تلاش می‌کنیم خریدی ساده، سریع و مطمئن را برای شما فراهم کنیم.
              محصولات باکیفیت را بررسی کنید و خرید خود را با اطمینان انجام دهید.
            </p>
            <ul class="social-link ps-0 mb-0 list-unstyled">
              <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three ms-lg-5">
            <h3>لینک های مفید</h3>
            <ul class="useful-link">
              <li><a href="{% url 'about' %}">درباره ما</a></li>
              <li><a href="{% url 'case_study' %}">مطالعه موردی</a></li>
              <li><a href="{% url 'contact' %}">با ما تماس بگیرید</a></li>
              <li><a href="{% url 'faq' %}">سوالات متداول</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three">
            <h3>با ما تماس بگیرید</h3>
            <p class="mb-3">برای دریافت راهنمایی و پشتیبانی با ما در ارتباط باشید..</p>
            <ul class="contact-info ms-0">
              <li><a href="mailto:information@stir.com">info@ShopFlow.com</a></li>
              <li><a href="tel:+52883256953129">+12345678</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three">
            <h3>مشترک ما شوید</h3>
            <p>برای دریافت آخرین اخبار و تخفیف ها و محصولات جدید در خبرنامه ما عضو شوید</p>
            <form class="position-relative z-1">
              <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید"><button type="submit"
                class="p-0 bg-transparent border-0 send-btn position-absolute top-50 end-0 translate-middle-y"><i
                  class="fa-light fa-paper-plane-top"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-color-030303">
    <div class="container">
      <p class="copy-right style-three">
        © 2026 <span>ShopFlow</span> - تمامی حقوق محفوظ است.
      </p>
    </div>
  </div>
  <div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/scrollcue.js' %}"></script>
  <script src="{% static 'js/magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/counterup.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/mixitup.min.js' %}"></script>
  <script src="{% static 'js/smoothscroll.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>