{% load static %}
{% load cart_filters %}
<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static '/css/bootstrap.rtl.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/meanmenu.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/font-awesome-pro.css' %}">
  <link rel="stylesheet" href="{% static '/css/scrollcue.css' %}">
  <link rel="stylesheet" href="{% static '/css/magnific-popup.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
  <link rel="icon" type="image/png" href="{% static '/images/favicon.png' %}">
  <title>Stir - قالب HTML آژانس چند منظوره</title>
</head>

<body>
  <div class="preloader">
    <div class="content">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
  <div class="navbar-area bg-black">
    <div class="main-nav">
      <div class="container mw-1680">
        <nav class="navbar navbar-expand-md navbar-light"><a class="navbar-brand" href="{% url 'home' %}"><img
              src="{% static '/images/white-logo.svg' %}" alt="logo"></a>
          <div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">صفحه اصلی</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">آژانس خلاق</a></li>
                  <li class="nav-item"><a href="{% url 'home_v2' %}" class="nav-link">آژانس بازرگانی</a></li>
                  <li class="nav-item"><a href="{% url 'home_v3' %}" class="nav-link">آژانس دیجیتال</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">صفحات</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">درباره ما</a></li>
                  <li class="nav-item"><a href="{% url 'team' %}" class="nav-link">تیم</a></li>
                  <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link">سوالات متداول</a></li>
                  <li class="nav-item"><a href="{% url 'testimonials' %}" class="nav-link">گواهینامه ها</a></li>
                  <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle">احراز هویت</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item"><a href="{% url 'sign_in' %}" class="nav-link">ورود</a></li>
                      <li class="nav-item"><a href="{% url 'sign_up' %}" class="nav-link">ثبت نام</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="{% url 'privacy_policy' %}" class="nav-link">سیاست حفظ حریم خصوصی</a>
                  </li>
                  <li class="nav-item"><a href="{% url 'terms_conditions' %}" class="nav-link">شرایط و ضوابط</a></li>
                  <li class="nav-item"><a href="{% url 'page_not_found' %}" class="nav-link">خطا</a></li>
                  <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">با ما تماس بگیرید</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">خدمات</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">خدمات</a></li>
                  <li class="nav-item"><a href="{% url 'services_detail' %}" class="nav-link">جزئیات خدمات</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">مطالعه موردی</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'case_study' %}" class="nav-link">مطالعه موردی</a></li>
                  <li class="nav-item"><a href="{% url 'case_study_detail' %}" class="nav-link">جزئیات مطالعه موردی</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle active">خرید کنید</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'products' %}" class="nav-link">محصولات</a></li>
                  <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link active">سبد خرید</a></li>
                  <li class="nav-item"><a href="{% url 'checkout' %}" class="nav-link">وارسی</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">وبلاگ</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">وبلاگ</a></li>
                  <li class="nav-item"><a href="{% url 'blog_detail' %}" class="nav-link">صفحه وبلاگ واحد</a></li>
                </ul>
              </li>
            </ul>
            <div class="nav-right-options d-flex align-items-center">
              <div class="language position-relative z-1">
                <select class="form-select" aria-label="Default select example">
                  <option selected>انگلیسی</option>
                  <option value="1">عربی</option>
                  <option value="2">چین</option>
                </select><i class="fa-light fa-globe"></i>
              </div>
              <ul class="social-link ps-0 mb-0 list-unstyled">
                <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="mobile-nav">
      <div class="container">
        <div class="mobile-menu">
          <div class="logo"><a href="{% url 'home' %}"><img src="{% static '/images/white-logo.svg' %}" alt="logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-banner-area bg-black bg-img" data-background="{% static '/images/banner-bg-shape.png' %}">
    <div class="container mw-1680">
      <div class="page-banner-content">
        <h2>سبد خرید</h2>
        <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
          <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
          <li><span class="active">سبد خرید</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cart-area pt-100 pb-75">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="d-flex justify-content-between cart-title">
            <h3>سبد خرید شما</h3>
            <h3>3 Items</h3>
          </div>
          {% for product in products %}
          <div class="d-sm-flex align-items-center cart-single-item">
            {% with img=product.image.first %}
            {% if img %}
            <div class="flex-shrink-0"><img src="{{ img.image.url }}" alt="{{ product.name }}"></div>
            {% endif %}
            {% endwith %}
            <div class="flex-grow-1">
              <div class="d-flex justify-content-between align-items-center p-4">
                <div>
                  <h3>{{ product.name }}</h3>
                  <span class="color">{{ product.category.name }}</span>
                  <form method="POST" action="{% url 'update_cart' product.id %}" class="cart-quantity-form">
                    {% csrf_token %}

                    <div class="input-counter d-flex justify-content-between">

                    <button type="button" class="minus-btn">
                      <i class="fa-regular fa-minus"></i>
                    </button>

                    <input
                      type="number"
                      name="quantity"
                      value="{{ cart|get_item:product.id }}"
                      min="1"
                    >

                     <button type="button" class="plus-btn">
                      <i class="fa-regular fa-plus"></i>
                         </button>

                         </div>
                    </form>
                </div>
                <div class="text-end">
                  <a href="{% url 'remove_from_cart' product.id %}" class="close-btn">
                   <i class="fa-regular fa-xmark fa-fw"></i>
                    </a>
                    <span class="d-block price">
                   ${{ product.final_price }}
                 </span>
                </div>
              </div>
            </div>
          </div>
          
          
        <div class="col-lg-4">
          <div class="cart-subtotal">
            <div class="d-flex justify-content-between mb-3">
              <h3>جمع فرعی</h3>
              <h3>${{ total_price }}</h3>
            </div>
            <span class="shipping">حمل دریایی</span>
            <div class="mb-4">
              <label class="radio-button-container">نرخ ثابت: 60.00 دلار<input type="radio" checked name="radio"><span
                  class="checkmark"></span></label><label class="radio-button-container">وانت محلی: 80.00 دلار<input
                  type="radio" name="radio"><span class="checkmark"></span></label>
            </div>
            <p>گزینه های حمل و نقل در حین تسویه حساب به روز می شود.</p>
            <span class="change">تغییر آدرس</span>
            <div class="d-flex justify-content-between mb-4">
              <h3>جمع</h3>
              <h3>${{ total_price }}</h3>
             
            </div>
            {% endfor %}
            <a href="{% url 'checkout' %}" class="main-btn w-100 text-center">به پرداخت ادامه دهید</a>
          </div>
        </div>
      </div>
    </div>
     
  </div>
  <div class="footer-area pt-100 pb-75 bg-color-030303">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three">
            <a href="{% url 'home' %}" class="logo"><img src="{% static '/images/white-logo.svg' %}"
                alt="white-logo"></a>
            <p>در سفری به ما بپیوندید که در آن خلاقیت حد و مرزی نمی شناسد و نوآوری رشد می کند. امروز با [Stir] تماس
              بگیرید،</p>
            <ul class="social-link ps-0 mb-0 list-unstyled">
              <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three ms-lg-5">
            <h3>لینک های مفید</h3>
            <ul class="useful-link">
              <li><a href="{% url 'about' %}">درباره ما</a></li>
              <li><a href="{% url 'case_study' %}">مطالعه موردی</a></li>
              <li><a href="{% url 'service' %}">خدمات ما</a></li>
              <li><a href="{% url 'contact' %}">با ما تماس بگیرید</a></li>
              <li><a href="{% url 'faq' %}">سوالات متداول</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three">
            <h3>با ما تماس بگیرید</h3>
            <p class="mb-3">خیابان Samwell، Trankturt 2589 نیویورک.</p>
            <ul class="contact-info ms-0">
              <li><a href="mailto:information@stir.com">information@stir.com</a></li>
              <li><a href="tel:+52883256953129">+5288 32569 53129</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-single-item style-three">
            <h3>مشترک ما شوید</h3>
            <p>برای به روز رسانی های بعدی در خبرنامه ما مشترک شوید. نگران نباشید ما آدرس ایمیل شما را اسپم نمی کنیم</p>
            <form class="position-relative z-1">
              <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید"><button type="submit"
                class="p-0 bg-transparent border-0 send-btn position-absolute top-50 end-0 translate-middle-y"><i
                  class="fa-light fa-paper-plane-top"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-color-030303">
    <div class="container">
      <p class="copy-right style-three">کپی رایت،<span>برای <a href="https://mellatweb.com"> ملت وب </a></span>تمامی
        حقوق محفوظ است</p>
    </div>
  </div>
  <div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/jquery.meanmenu.js' %}"></script>
  <script src="{% static '/js/owl.carousel.min.js' %}"></script>
  <script src="{% static '/js/scrollcue.js' %}"></script>
  <script src="{% static '/js/magnific-popup.min.js' %}"></script>
  <script src="{% static '/js/counterup.min.js' %}"></script>
  <script src="{% static '/js/waypoints.min.js' %}"></script>
  <script src="{% static '/js/mixitup.min.js' %}"></script>
  <script src="{% static '/js/smoothscroll.min.js' %}"></script>
  <script src="{% static '/js/custom.js' %}"></script>
  <script>
document.querySelectorAll('.cart-quantity-form').forEach(function(form) {

    const minusBtn = form.querySelector('.minus-btn');
    const plusBtn = form.querySelector('.plus-btn');
    const input = form.querySelector('input[name="quantity"]');

    plusBtn.addEventListener('click', function() {
        input.value = parseInt(input.value) + 1;
        form.submit();
    });

    minusBtn.addEventListener('click', function() {
        let quantity = parseInt(input.value);

        if (quantity > 1) {
            input.value = quantity - 1;
            form.submit();
        }
    });

});
</script>
</body>

</html>